{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<br>
<br>
<br>
<section class="articles row g-3">

    {% for product in bonjour %}

    
    
    <br>
        <article class="col-5">
            <h2>{{ product.name }}</h2>
            
            <div class="content">
                <img src=" {{ asset('uploads/picture/' ~ product.picture) }}" alt="">
                {{ product.shortwording | raw }}
                
            </div>
        </article>
        
      
    {% endfor %}
        <br>
        <br>
        <br>
        <br>
        <br>

{% endblock %}