{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<br>
<br>
<br>
<h1 class="text-center">Vous êtes actuellement connecté !</h1>
        <br>
        <br>
        <br>
        <br>
        <br>

{% endblock %}